/*--------------------------------------------Colours*/



.container-fluid {
    background-color: #800080;
    color: yellow;
}

/*--------------------------------------------Nav Bar*/

.menuitem {
    background-color: green;
    color: rgba(255,0,255, 1);
    text-align: left;
}

.nav-page1 {
    color: yellow;
    background-color: yellow;
}

.nav-page2 {
    background-color: rgb(255,0,255);
}

.nav-page3 {

}

.page-text {
    text-align: center;
}

/*--------------------------------------------images*/
.home-img-1 {
    width: 150px;
    height: 150px;
    padding: 10px;
    display: block;
    margin: auto;
    align-content: right;
}

.home-img-2 {
    width: 150px;
    height: 150px;
    padding: 10px;
    display: block;
    margin: auto;
    align-content: right;
}

.home-img-3 {
    width: 150px;
    height: 150px;
    padding: 10px;
    display: block;
    margin: auto;
    align-content: right;
}